.nav-wrapper {
    @extend %parent-center-children;
    padding: 1rem 0;

    .nav-container {
        @extend %container-width;
        display: flex;
        justify-content: space-between;
        align-items: center;


        // =============== Logo.
        .logo-container {
            display: flex;
            align-items: center;

            .logo-icon {
                color: $red;
                font-size: 1.7rem;

                @media (min-width: $tablet) {
                    font-size: 1.8rem;
                }
            }

            h1 {
                color: $header-color;
                font-size: 1.4rem;
                font-weight: $bold;

                @media (min-width: $tablet) {
                    font-size: 1.6rem;
                }
            }
        }


        // =============== UL.
        ul {
            display: flex;
            align-items: center;
            gap: 1rem;

            li {
                .nav-link {
                    color: $header-color;
                    font-size: 0.9rem;
                    text-decoration: none;
                }

                .nav-link-special {
                    background-color: $red;
                    color: $bg;
                    padding: 0.4rem 1rem;
                    text-decoration: none;
                    border-radius: 10px;
                }
            }
        }
    }
}