.nav-wrapper {
    @extend %parent-center-children;
    padding: 1.3rem 0;

    @media (min-width: $tablet) {
        padding: 1rem 0;
    }


    .nav-container {
        @extend %container-width;
        display: flex;
        justify-content: space-between;
        align-items: center;


        // =============== Logo.
        .logo-container {
            display: flex;
            align-items: center;
            text-decoration: none;

            .logo-icon {
                color: $red;
                font-size: 1.7rem;

                @media (min-width: $tablet) {
                    font-size: 1.8rem;
                }
            }

            h1 {
                color: #484a47;
                font-size: 1.4rem;
                font-weight: $bold;
                letter-spacing: -0.3px;

                @media (min-width: $tablet) {
                    font-size: 1.6rem;
                }
            }
        }


        // =============== UL.
        ul {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            li {
                .nav-link {
                    color: $very-dark-blue;
                    font-size: 0.9rem;
                    letter-spacing: -0.3px;
                    text-decoration: none;
                    cursor: pointer;
                    transition: $transition;

                    &:hover {
                        color: $yellow;
                    }
                }

                .nav-link-special {
                    background-color: $black;
                    color: $white;
                    padding: 0.4rem 1.5rem;
                    text-decoration: none;
                    border-radius: 10px;
                    transition: $transition;

                    &:hover {
                        background-color: $yellow;
                    }
                }
            }
        }
    }
}