// ============ Colors.
$bg: #ffffff;
$section-bg: #d1eefc;
$header-color: #353634;
$text-color: #091114;
$red: #ff0a54;
$btn-bg: #9ab46d;



// ============ Typo.
$main-font: 'Public Sans', sans-serif;
$regular: 400;
$bold: 700;

// ============ Breakpoints.
$tablet: 768px;
$desktop: 1300px;